node_modules
dist
dist-ssr
*.local
.env
.env.local
firebase-config.json
.DS_Store
android/.gradle
android/app/build
android/build
android/captures
android/local.properties
*.apk
*.aab
*.jks
*.keystore
!android/shannons-release.keystore
android-sdk/
.idea
.vscode
